.use-context {

    display: flex!important;
    flex-direction: column!important;

    position: fixed!important;

    box-sizing: border-box!important;

    max-width: 100vw!important;
    max-height: 100dvh!important;

    /* transition: all .1s; */

}

  .use-context_display_hide {

    display: none!important;

  }
